body {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  margin: 0;
  font-family: system-ui;
  position: relative;
}
.header {
  background: black;
  color: white;
  height: 50px;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
}
.header_text {
  display: flex;
  justify-content: center;
  margin: 0;
  border: 2px solid white;
}
.card {
  margin: 40px 10%;
  border: 5px solid black;
  padding: 15% 20%;
  border-radius: 1rem;
  position: relative;
  scroll-margin-top: 100px;
}
.card_header {
  margin: 0 0 25px 0;
  padding: 10px;
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  border-radius: 1rem;
}
.button {
  border: none;
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 15px 32px;
  text-align: center;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 1rem;
}
.bookmark {
  border: 2px solid black;
  font-size: 2em;
  padding: 6px 10px;
  position: absolute;
  top: -30px;
  right: 30px;
  border-radius: 50%;
}
footer {
  background: black;
  color: white;
  height: 90px;
  position: sticky;
  bottom: 0;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
nav ul li {
  margin: 5px;
}
nav a {
  color: white;
  text-decoration: none;
  padding: 5px;
  border: 2px solid white;
}
.tags {
  border: 2px solid black;
  font-size: 20px;
  padding: 2px 2px;
  margin: 20px;
  position: absolute;
  bottom: 1px;
  left: 20px;
  color: white;
  background: black;
  font-family: Arial, Helvetica, sans-serif;
}
.tags_two {
  border: 2px solid black;
  font-size: 20px;
  padding: 2px 2px;
  margin: 20px;
  position: absolute;
  bottom: 1px;
  left: 80px;
  color: white;
  background: black;
  font-family: Arial, Helvetica, sans-serif;
}
.tags_three {
  border: 2px solid black;
  font-size: 20px;
  padding: 2px 2px;
  margin: 20px;
  position: absolute;
  bottom: 1px;
  left: 165px;
  color: white;
  background: black;
  font-family: Arial, Helvetica, sans-serif;
}
